.header__container {
    background-image: url("../assets/images/pattern-bg.png");
    background-repeat: no-repeat;
    background-position: 53.5% 0;
    background-size: cover;
    height: 16.75rem;
    width: 100%;

    position: relative;
}

.title{
    color: #fff;
    
    font-size: 1.3rem;
    font-weight: 400;

    padding: 1.5rem 0;
    text-align: center;
}

@media (min-width: 640px) {
    .title {
        font-size: 1.5rem;
    }

    .header__container {
        height: 13.9rem;
    }
}

@media(min-width: 640px) {
    .header__container {
        background-position: 0 0;
        background-size: cover;
    }
}